{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="email">Email</label>
    <input name="email" >
    <label for="password">Password</label>
    <input type="password" name="password" >
     <label for="firstName">First Name</label>
      <input name="firstName" >
     <label for="lastName">Last Name</label>
      <input name="lastName" >
     <label for="phoneNumber">Phone Number</label>
      <input name="phoneNumber" >
     <label for="stateID">State ID</label>
      <input name="stateID" >
      <label for="cit">City</label>
      <input name="city" >
     <label for="deliveryLocation">Delivery Address</label>
      <input name="deliveryLocation" >
     <label for="zipCode">zipCode</label>
      <input name="zipCode" >
     <label for="cardID">Galileo Card Number</label>
      <input name="cardID" >
     <label for="gUsername">Galileo Username</label>
      <input name="gUsername" >
     <label for="gPassword">Galileo Password</label>
      <input name="gPassword" >
      <label for="accountNumber">Galileo Account Number</label>
      <input name="accountNumber" >
    <input type="submit" value="Register">
  </form>
{% endblock %}